.tabbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  flex-shrink: 0;
  background-color: var(--color-white);
  padding: 0.75rem 0 calc(0.75rem + var(--safe-bottom));
  margin: 0 1rem calc(1rem + var(--safe-bottom)) 1rem;
  border-radius : 5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.625rem;
  background: none;
  border: none;
  border-radius: 5rem;
  cursor: pointer;
  font: inherit;
  transition: all 0.2s;
  min-width: 2.5rem;
}

.tab.active {
  background: var(--color-primary);
  /*padding: 0.625rem 1.25rem;*/
}

.tabIcon {
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
}

.tabIcon path {
  fill: var(--color-dark);
  transition: fill 0.2s;
}

.active .tabIcon path {
  fill: var(--color-white);
}

.tabLabel {
  font-size: 0.9375rem;
  font-weight: 600;
  color: var(--color-white);
  white-space: nowrap;
  display: none;
}

.active .tabLabel {
  display: block;
}

.iconCircle {
  display: none;
}

.iconCircleActive {
  display: none;
}
