.container {
  margin-top: 1.75rem;
  min-height: 100dvh;
}

.content {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 1rem 2rem;
  text-align: center;
}

.loadingContent {
  min-height: 70dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.forgotPasswordLinkContainer {
  margin-bottom: 2rem;
}

.submitButton {
  width: 80%;
  margin: auto;
}

.register {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.registerLink,
.forgotPasswordLink {
  color: var(--color-primary);
}
