.light {
  background-color: var(--color-light-tint);
}

.dark {
  background-color: var(--color-dark-shade);
}

.thin {
  border: none;
  height: 1px;
}

.thick {
  border-width: 2px
}

.full {
  width: 100%;
}

.content {
  width: auto;
}