.externalLink {
	font-weight: var(--font-weight-semibold);
	font-style: normal !important;
	display: inline;
	color: var(--color-text-primary);
	text-decoration-thickness: 2.5px;
	text-underline-offset: var(--spacing-xs);
}

.icon {
	display: inline-block;
	width: var(--icon-lg);
	height: var(--icon-lg);
	vertical-align: middle;
}

